@font-face{
	font-family:'Noto Sans CJK TC bold';
	src:url('http://127.0.0.1/wp-content/themes/BigData_git_/assets/NotoSansMonoCJKtc-Bold.otf')
}
@font-face{
	font-family:'Noto Sans CJK TC regular';
	src:url('http://127.0.0.1/wp-content/themes/BigData_git_/assets/NotoSansMonoCJKtc-Regular.otf')
}
@font-face{
	font-family:'Noto Sans CJK medium';
	src:url('http://127.0.0.1/wp-content/themes/BigData_git_/assets/NotoSansCJKtc-Medium.otf')
}
@font-face{
	font-family:'Noto Sans CJK demilight';
	src:url('http://127.0.0.1/wp-content/themes/BigData_git_/assets/NotoSansCJKtc-DemiLight.otf')
}
@font-face{
	font-family:'Noto Sans CJK light';
	src:url('http://127.0.0.1/wp-content/themes/BigData_git_/assets/NotoSansCJKtc-Light.otf')
}