/*
Theme Name: BigData_git
Theme URI: 
Description: A Fundesigner Theme.
Author: Zeze
Author URI: 
Version: 1.0
Tags: white, two-columns
License: GNU General Public License v2 or later
License URI: https://github.com/HardworkingSnowman/BigData_git_
*/
/*------------*/
/*------------*/
/*------------*/

@import './css/initialize.css';
@import './css/font.css';
/*---------------------------------------------------------shared----------------------------*/
.fp-controlArrow{
	display:none;
}
.newPage{
	width:100%;
	height:100vh;
}
a, a:visited, a:hover, a:active{
	color:white;
	opacity:1;
	text-decoration:none;
	cursor:pointer;
}
li{
	list-style:none;
}
.bottomLine{
	background-color:white;
	position:absolute;
	bottom:0;
	left:0;
	z-index:1;
	height:1px;
	width:100%;
}
.leftsideBackground{
	position:absolute;
	background-color:#eb9f52;
	height:100vh;
	top:0px;
	left:0px;
}
.rightsideBackground{
	height:100vh;
	position:absolute;
	right:0px;
	top:0px;
}
.tagInit{
	color:white;
	position:absolute;
}
.page1{
	position:absolute;
	width:50%;
	height:100vh;
	top:0px;
	left:0%;
}
.page2{
	position:absolute;
	left:50%;
	top:0px;
	width:50%;
	height:100vh;
}
.block{
	position:absolute;
	left:0px;
	top:0px;
	height:100vh;
}
.title{
	font-size:43.5px;
	color:white;
	font-weight:900;
	font-family: 'Noto Sans CJK TC bold';
}
.leftTop{
	width:100%;
	top:20vh;
	position:absolute;
}
.logo{
	float:left;
	position:absolute;
}
.section{
	display:none;
}
#home{
	display:block;
}
/*-------------------------------------------------------------首頁---------------------*/
html, body{
	font-family:'Noto Sans CJK light';
}
@keyframes dropdownMenuDown{
	from {height:0px;}
	to {height:64px;}
}
@keyframes dropdownMenuUp{
	from {height:64px}
	to {height:0px}
}
@keyframes arrowFadeIn{
	from {opacity:0}
	to {opacity:1}
}
@keyframes arrowFadeOut{
	from {opacity:1}
	to {opacity:0}
}
#menu-headermenu .menu-item:hover>.sub-menu{
	animation:dropdownMenuDown 0.5s forwards;
	display:block;
}
#menu-headermenu .menu-item:hover>.arrow-up{
	animation:arrowFadeIn 0.5s forwards;
	display:block;
}
#menu-headermenu{
	margin-left:16%;
	width:82%;
}
#menu-headermenu li{
	z-index:2;
}
#menu-headermenu .menu-item {
	float:left;
	font-size:15px;
	margin-top:70px;
	cursor:pointer;
	width:12%;
	padding-bottom:20px;
}
#menu-headermenu .sub-menu{
	list-style:none;
	position:absolute;
	left:0;
	top:104px;
	width:100%;
	border-radius:10px;
	background-color:#eb9f52;
	font-weight:900;
	box-shadow:5px 5px 18px 0 rgba(0, 0, 0, 0.27);
	overflow:hidden;
	display:none;
}
#menu-headermenu .sub-menu .menu-item{
	margin:0;
	width:160px;
	height:100%;
	line-height:64px;
	top:40%;
}
header .arrow-up{
	position:relative;
	width:0;
	height:0;
	left:0px;
	top:10px;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-bottom:10px solid #eb9f52;
	display:none;
}
#homeTitle{
	position:absolute;
	width:70%;
	top:30vh;
	left:9%;
	color:white;
	height:40vh;
	display:  flex;
	align-items: center;
	z-index:1;
	overflow:visible;
}
#homeTitle span:first-child, #homeTitle span:nth-of-type(2){
	font-family: 'Noto Sans CJK TC bold';
}
#homeTitle span:nth-of-type(3){
	z-index:1;
}
#taiwanEnglish{
	position:absolute;
	top:70vh;
	right:5%;
	color:white;
	transform:rotate(90deg);
	font-weight:800;
	font-size:15px;
	z-index:2;
}
#dashLineBackground{
	background:linear-gradient(to top, rgba(0, 119, 153, 1), rgba(0, 119, 153, 0.3));
	width:100%;
	height:41vh;
	position:absolute;
	right:0px;
	bottom:0px;
	margin:0px;
	padding:0px;
	border:0px;
}
.dashLine{
	margin:0px;
	padding:0px; 	
	position:absolute;
	background-color:white;
	width:0%;
	color:white;
	opacity:0.5;
	height:2px;
}
.barChart{
	margin:0px;
	padding:0px;
	position:absolute;
	width:0.8%;
	background-color:#90ADFC;
	height:0px;
	opacity:0.4;
}
#homeCanvas1, #homeCanvas2{
	width:100%;
	height:60vh;
	position:absolute;
	opacity:0.2;
	bottom:0px;
	left:0px;
}
#headerLogo{
	left:8%;
	top:59px;
	width:32px;
	height:32px;
}

/*-----------------------------------news shared------------------------------------------------------------------*/
.newsPutTop{
	background-color:#eb9f52;
	color:white;
	font-size:16px;
	padding:0px 5px;
	margin-right:5px;
}
.newsPutDate{
	font-size:14px;
	position:relative;
	top:0.8vh;
	left:3%;
}
/*for search*/
.blank{
	background-color:white;
	opacity:0.8;
	position: absolute;
	font-size:30px;
	color:#eb9f52;
	text-align:center;
	display:none;
	z-index:2;
	height:100px;
}
.blank input{
	width:96%;
	height:80%;
	position:absolute;
	outline:none;
	border-style:solid;
	border-color:#0070af;
	border-width:1px 0px;
	left:2%;
	top:10%;
}
.blank input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #eb9f52;
	letter-spacing:8px;
	font-size:30px;
}
::-webkit-scrollbar {
	width: 3px;
}
::-webkit-scrollbar-track {
	background-color: rgba(255,255,255,0.5);
}
::-webkit-scrollbar-thumb {
	background-color: white; 
}
/*---------------------------------------------------------最新公告--------------------------------*/
.leftsideBackground{
	width:56%;
}
#newsLeftside{
	width:56%;
	height:100vh;
	position:absolute;
	top:0px;
	left:0px;
}
#newsTitle{
	margin-left:9%;
}
#changeAllNewsText2{
	font-size:20px;
	font-weight: 100;
	cursor:pointer;
	margin-left:37px;
}
#recentNews .bottomLine{
	bottom:-16px;
	width:50%;
	left:8%;
}
#newsPhoto{
	background-color:white;
	position:absolute;
	width:100%;
	height:40vh;
	top:37vh;
	left:10%;
}
#decoration{
	position:absolute;
	left:10%;
	bottom:10vh;
	width:29px;
	height:40px;
}
.newsPhotoChange{
	background-color:rgba(0,0,0,0);
	width:45px;
	position:absolute;
	top:77vh;
	padding:10px 2px 10px 2px;
	cursor:pointer;			
}
.newsPhotoChange div{
	background-color:white;
	height:1px;
	width:100%;
}
#newsRightside{
	width:44%;
}
#searchIcon{
	opacity:0.5;
	font-size:20px;
	right:90px;
	top:11vh;
	cursor:pointer;
	padding-right:40px;
	opacity:0.75;
	z-index:10000;
}
#searchText{
	font-size:14px; 
	top:11vh; 
	right:90px;
	opacity:0.75;
	height:500px;
	cursor:pointer;
}
#searchBlank{
	top:16vh;
	right:140px;
	width:100%;
}
#newsPut{
	padding-left:40px;
	width:70%;
	height:75vh;
	position:absolute;
	top:18vh;
	left:14%;
	overflow:hidden;
}
#newsPut ul{
	color:white;
}
#newsPut li{
	list-style:square;
	font-size:2.2vh;
	font-weight:100;
	letter-spacing:normal;
	margin:10px;
	cursor:pointer;
	line-height:27px;
	height:7vh;
}

/*----------------------------------------------------------所有公告------------*/
#allNewsBlock .leftsideBackground, #allNewsBlockLeftside{
	width:28%;
}
#allNewsBlockTitle{
	margin-left:25%
}
#changeNewsText2{
	margin-left:16px;
	position:relative;
	color:white;
	cursor:pointer;
	font-size:20px;
}
#allNewsSearch{
	left:27%;
	top:35vh;
	cursor:pointer;
	font-size:20px;
	opacity:0.5;
}
#searchAllNewsBlank{
	top:40vh;
	left:31%;
	width:135%;
}
#allNewsBlockLeftside ul{
	position:absolute;
	color:white;
	top:40vh;
	left:35%;
}
#allNewsBlockLeftside li{
	font-size:24px;
	list-style:circle;
	padding:10px;
	cursor:pointer;
}
#allNewsBlockLeftside .bottomLine{
	bottom:-16px;
	left:28%;
}
#allNewsBlockRightside{
	position:absolute;
	width:57.5%;
	height:71vh;
	top:10vh;
	left:39%;
	overflow-x:hidden;
	overflow-y:scroll;
}
#allNewsBlockRightside ul{
	padding-left:40px;
	color:white;
}
#allNewsBlockRightside li{
	list-style:square;
	font-size:18px;
	letter-spacing:2px;
	margin:10px;
	cursor:pointer;
}
/*---------------------------------------------------------center inform-------------*/
#centerInform .leftsideBackground, #centerInform .block{
	width:42%
}
#centerInformTitle{
	margin-left:11%;
}
#changeToStaff{
	margin-left:43px;
	cursor:pointer;
	font-size:20px;
}
#centerInformLeftside .bottomLine{
	bottom:-16px;
	left:11%;
	width:80%;
}
#centerInformLeftside img{
	position:absolute;
	bottom:20vh;
	left:14%;
	height:40vh;
}
#centerInformFooter{
	color:#0070af;
	position:absolute;
	bottom:9vh;
	left:14%;
	font-size:10px;
	letter-spacing:1.9px;
}
#centerInformRightside{
	width:49%;
	height:72vh;
	position:absolute;
	left:47%;
	top:11vh;
	overflow:scroll;
	overflow-x:hidden;
}
#centerInformRightsideContent{
	color:white;
	font-size:14px;
	line-height:20px;
	margin:20px;
}
/*------------------------------------------------------staff------------------*/
#staff .leftsideBackground, #staffLeftside{
	width:29%;
}
#staffTitle{
	margin-left:21%;
}
#changeToCenterInform{
	margin-left:16px;
	position:relative;
	color:white;
	cursor:pointer;
	font-size:20px;
}
#staffLeftside .bottomLine{
	bottom:-16px;
	left:24%;
}
#staffLeftside ul{
	position:absolute;
	color:white;
	top:40vh;
	left:30%;
}
#staffLeftside li{
	font-size:24px;
	list-style:circle;
	padding:10px;
	cursor:pointer;
}
/*---------------------------------------------------------------------*/
#staffRightside{
	position:absolute;
	top:11vh;
	left:38%;
	width:58%;
	height:70vh;
	overflow:scroll;
	overflow-x:auto;
}
#staffRightside .allBlocks{
	width:100%;
	height:100%;
	overflow:hidden;
}
#staffRightside .blocks{
	width:44%;
	height:auto;
	margin:3%;
	float:left;
	color:white;
}
#staffRightside img{
	width:149px;
	height:149px;
	border-radius:100px;
}
#staffRightside .blocks .who{
	font-size:14px;
	font-weight:900;
	margin-top:10px;
	margin-bottom:10px;
}
#staffRightside .blocks div{
	margin-top:10px;
	margin-bottom:10px;
	font-size:14px;
}
#staffRightside .blocks li{
	font-size:14px;
	font-weight:100;
	margin-top:2px;
}
#staffRightside .allMembers{
	width:100%;
	height:100%;
	overflow:hidden;
	position:absolute;
	top:10vh;
}
#staffRightside .member{
	width:29%;
	height:40%;
	margin:2%;
	float:left;
	margin:10px;
	list-style-image:url('./assets/Oval7orange.png');
	list-style-position:inside;
}
#staffRightside .name{
	color:white;
	font-size:34px;
	font-weight:900;
}
#staffRightside .content{
	font-size:14px;
	color:white;
	margin-top:5vh;
	font-weight:100;
}
#staffRightside .content li{
	line-height:12px;
	margin-top:1vh;
}
#staffRightside .position{
	font-weight:900;
}
/*---------------------------------------------------------------public---*/
#public .leftsideBackground, #publicLeftside{
	width:25%;
}
#publicTitle{
	margin-left:21%;
}
#public .bottomLine{
	bottom:-16px;
	left:24%;
}
#publicLeftside #menu-publicblock{
	position:absolute;
	top:40vh;
	left:22%;
}
#publicLeftside li{
	font-size:25px;
	color:white;
	list-style:circle;
	padding:10px;
	cursor:pointer;
}
#publicLeftside .sub-menu{
	position:relative;
	left:5%;
}
#publicLeftside .sub-menu li{
	font-size:15px;
	padding:10px;
}
.publicPage_{
	background-color:#0070af;
	position:absolute;
	height:100vh;
	width:75%;
	left:25%;
	display:none;
}
/*---------------------------------------------------------------ranking---*/
#ranking .leftsideBackground, #rankingLeftside{
	width:30%;
}
#rankingTitle{
	margin-left:21%;
}
#ranking .bottomLine{
	bottom:-16px;
	position:absolute;
	left:24%;
}
#rankingLeftside ul{
	position:absolute;
	top:40vh;
	left:30%;
	color:white;
}
#rankingLeftside li{
	font-size:25px;
	list-style:circle;
	padding:20px;
	cursor:pointer;
}
#rankingIframeBlock{
	position:absolute;
	left:35%;
	top:10vh;
	z-index:1;
	overflow:hidden;
	overflow-y:hidden;
	height:70%;
	width:100%;
}
#rankingIframe iframe{
	overflow:hidden;
	z-index:-2;
}
/*--------------------------------------------------------------------news-letter--*/
#newsletter .leftsideBackground, #newsletterLeft{
	width:30%;
}
#newsletterTitle{
	margin-left:21%;
}
#newsletterLeft .bottomLine{
	bottom:-16px;
	margin-left:24%;
}
#newsletterList{
	position:absolute;
	top:40vh;
	left:20%;
}
#newsletterList li{
	font-size:24px;
	font-weight:100;
	color:white;
	line-height:26px;
	padding:20px;
}
#newsletterRight{
	height:70vh;
	top:15vh;
	left:40%;
	width:50%;
	border:2px solid white;
}
#clickPastNewsletter{
	cursor:pointer;
}
.pastNewsletterTitle{
	float:left;
	width:30%;
	margin-left:5%;
	list-style:square;
}
.pastNewsletterTitle{
	cursor:pointer;
}
/*--------------------------------------------------------------------contact--*/
#contact .leftsideBackground, #contactLeftside{
	width:29%;
}
#contactTitle{
	margin-left:22%;
}
#contactLeftside .bottomLine{
	bottom:-16px;
	left:24%;
}
#contactLeftside ul{
	position:absolute;
	top:40vh;
	left:20%;
}
#contactLeftside li{
	font-size:24px;
	font-weight:100;
	color:white;
	line-height:26px;
}
#contactRightside{
	height:100vh;
	position:absolute;
	left:30%;
	width:70%;
}
#contactRightside img{
	height:70vh;
	width:90%;
	position:absolute;
	right:10%;
	top:10vh;
}
.trafic{
	position:absolute;
	top:23vh;
	left:-10%;
	width:51%;
	height:70vh;
	background-color:white;
	border-radius:20px;
	display:block;
	z-index:1;
}
#contactRightside ul{
	padding:7vh;
}
#contactRightside li{
	color:black;
	font-size:13px;
	word-break:break-all;
	margin-bottom:10px;
	line-height:20px;
}
.contactPictureChange{
	position:absolute;
	bottom:7vh;
	width:90px;
	padding:10px 2px 10px 2px;
	cursor:pointer;
	background-color:rgba(0,0,0,0);
	color:white;
	overflow:visible;
}
/*--------------------------------------------------------------------related url---*/
#relatedUrl .leftsideBackground, #relatedUrlLeft{
	width:30%;
}
#relatedUrlTitle{
	margin-left:20%;
}
#relatedUrlLeft .bottomLine{
	bottom:-16px;
	left:24%;
}
#relatedUrlLeft ul{
	position:absolute;
	top:40vh;
	left:30%;
	color:white;
}
#relatedUrlLeft li{
	list-style:square;
	font-size:24px;
	margin:5px;
	cursor:pointer;
	margin-top:20px;
}
#relatedUrlRight{
	position:absolute;
	top:0vh;
	left:40%;
	width:80%;
	border:2px solid white;
}
#relatedUrlRight img{
	width:100%;
	height:15vh;
}
#urls{
	left:5%;
	top:12vh;
	height:80vh;
	overflow:hidden;
}
#urls img{
	left:5%;
	top:20vh;
}
#relatedUrlRight li{
	margin-top:15px;
	list-style:square;
}
/*-----------------------------------------------------------nav--*/
@keyframes navDropdownMenuDown{
	from {height:0px;}
	to {height:64px;}
}
nav .menu-item:hover>.sub-menu{
	animation:navDropdownMenuDown 0.5s forwards;
	display:block;
}
#home:hover>nav{
	display:none;
}
nav{
	background-color:#0070af; 
	position:fixed;
	width:100%; 
	height:58px; 
	z-index:1;
	box-shadow: 5px 5px 18px 0 rgba(0, 0, 0, 0.27);
	display:none;
}
#menu-navmenu{
	margin-left:16%;
	width:82%
}
nav .menu-item{
	padding-bottom:3vh;
	width:12%;
}
#navLogo{
	left:8%;
	top:13px;
	width:32px;
	height:32px;
}
nav li{
	line-height:58px;
	top:2vh;
	float:left;
}
nav .sub-menu{
	position:absolute;
	width:100%;
	height:8vh;
	bottom:-10vh;
	left:0px;
	background-color:#eb9f52;
	display:none;
	box-shadow: 5px 5px 18px 0 rgba(0, 0, 0, 0.27);
	overflow:hidden;
}
nav .sub-menu li{
	line-height:8vh;
	width:160px;
}
/*-----------------------------------------------------------footer--*/
.homeTriangle{
	width:0px;
	height:0px;
	border-color:white transparent;
	border-width:0px 0px 50.5px 35.1px;
	border-style:solid;
	position:absolute;
	bottom:47px;
	right:53px;
	cursor:pointer;
}
